/* Agrega Roboto Condensed como fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');



/* Estilos generales para todos los elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilos generales para todo el contenido */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0e2;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el encabezado */
header {
    position: sticky;
    background-color: #64c27b;
    color: black;
    padding: 10px;
    display: flex; /* Cambia display a flex */
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}


/*  Estilos para el footer  */
footer {
    margin-top: auto;
    width: 100%;
    background-color: #64c27b;
    color: black;
    padding: 10px 0;
    text-align: center;
}
footer p {
    margin-bottom: 10px;
    font-size: 16px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente los elementos */
}

footer li {
    margin: 0 10px;
    font-size: 24px;
}

.fab {
    color: #314b81; /* Color de Facebook */
}

.fab.fa-instagram {
    color: #c22c47; /* Color de Instagram */
}

.fab.fa-twitter {
    color: #1d83c2; /* Color de Twitter */
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse sobre el enlace */
}



/* Estilo para el logo en el encabezado (colocado en el centro) */
h1 {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: rgb(2, 2, 2);
    background-color: #48a35f;
}

h2 {
    text-align: center;
}

p {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    color: black;
    
}
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0e2;
    margin: 40px;
}

.title {
    color: aquamarine;
}

.logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* Estilos para la lista de navegación */
nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para los elementos de la lista */
nav li {
    margin: 0 20px;
    text-align: center;
    flex: 1;
}

/* Estilos para los enlaces */
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
     border-radius: 5px; /* Añade esquinas redondeadas */
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

nav a:hover {
    color: #fff; /* Cambia el color del texto al pasar el mouse */
    
}

/* Estilos específicos para el ícono del carrito */
nav a.no-hover:hover {
    color: black;
    background-color: transparent;
}

/* Estilos carrito de compra*/
/* Estilo para el icono del carrito de compras */
.carrito-n {
    max-height: 30px; /* Ajusta la altura según tus necesidades */

  }
  
  /* Estilo para cambiar el cursor al pasar sobre el carrito de compras */
  .carrito-n:hover {
    cursor: pointer;
    
  }
/* FIN Estilos carrito de compra*/
  


/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para los campos de entrada de texto y textarea */
input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de enviar */
button[type="submit"] {
    background-color: #4bbd4f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para el botón de enviar al pasar el mouse */
button[type="submit"]:hover {
    background-color: #3fa242;
}

.obligatorio {
    color: red;
    margin-left: 5px;
}

.parrafo-centrado {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
    color: black;
}


/* Card de los productos */
.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

.container .card {
    position: relative;
    width: 300px;
    max-width: 100%;
    background: #c8ad7f5e;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.466);
}

.container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.377);
}

.container .card .img-box {
    height: 300px; /* Ajusta según tu diseño */
    overflow: hidden;
}

.container .card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.container .card .content p {
    margin-bottom: 10px;
    color: #666;
}

.container .card .content a {
    display: inline-block;
    text-decoration: none;
    background: #009688;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background 0.3s;
}

.container .card:hover .content a {
    background: #00796b;
}

/* Fin Card de los productos */



/*Estilos carrito*/

/* Estilos para el carrito en el header */
#carrito-header {
    margin-left: auto;
}

#carrito-icon-header {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000; /* Cambia el color del icono según tus preferencias */
}

.carrito-n {
    width: 30px; /* Ajusta el tamaño del icono según sea necesario */
    height: 30px;
    margin-right: 5px; /* Espacio entre el icono y la cantidad en el carrito */
}

#carrito-cantidad-header {
    background-color: #ff5733; /* Fondo del número de artículos en el carrito */
    color: #fff; /* Color del texto del número de artículos en el carrito */
    border-radius: 50%;
    padding: 5px; /* Espaciado interno del número en el carrito */
}

/* Estilos mejorados para la ventana emergente del carrito */
.carrito-ventana {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #64c27b; /* Color de fondo */
    border: 1px solid #ccc; /* Color del borde */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    border-radius: 8px; /* Bordes redondeados */
}

#carrito-contenido {
    max-height: 300px;
    overflow-y: auto;
}

#cerrar-carrito {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #000; /* Color negro */
    border-radius: 50%; /* Hace que el botón sea circular */
    background-color: rgb(206, 95, 95); /* Color de fondo rojo */
    border: none; /* Elimina cualquier borde */
    padding: 5px 10px; /* Ajusta el espacio interno del botón */
}


#carrito-contenido div {
    border-bottom: 1px solid rgb(3, 3, 3);
    padding: 10px 0;
    color: #333; /* Color del texto dentro del carrito */
}



/* Color de fondo para los elementos del carrito al pasar el ratón */
#carrito-contenido div:hover {
    background-color: #56b16d;
}


#valor-total-carrito {
    padding: 15px; /* Ajusta el espacio interno del elemento */
    font-size: 18px; /* Ajusta el tamaño del texto */
    color: black;
}

/*Fin Estilos carrito*/



@media (max-width: 480px) {
    .container .card {
        width: 230px;
        border-radius: 15px;
    }

    .container .card .img-box {
        border-radius: 10px;
    }

    .container .card .content p {
        font-size: 0.8rem;
    }

    .container .card .content a {
        font-size: 0.9rem;
    }
}
/* Estilos para pantallas de PC (escritorio) */
@media screen and (min-width: 1024px) {
    .logo {
        max-width: 120px;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        margin: 0 20px;
        text-align: center;
    }

    .product-list {
        justify-content: space-between;
    }

    .product {
        width: calc(30% - 30px);
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}

/* Estilos para pantallas de celular (móvil) */
@media screen and (max-width: 767px) {
    .logo {
        max-width: 80px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
        text-align: center;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product {
        width: calc(50% - 20px);
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

/* Estilos para pantallas de tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        max-width: 100px;
    }
    .container {
        padding: 20px;
    }

    .container .card {
        max-width: calc(50% - 20px);
    }

}


/* Animación de crecimiento y reducción para el logo */
@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

/* Aplica la animación al logo */
.logo {
    animation: scale 2s infinite; /* Duración de la animación y repetición infinita */
}
