<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img class="logo" src="/img/logo.png" alt="Logo Mi mundo Vega"></li>
                <li><a href="#">Inicio</a></li>
                <li><a href="/templates/productos.html">Productos</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
                <li><a href="/templates/nosotros.html">Sobre nosotros</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Bienvenido a Mi mundo Vega</h1>
            <p>¡Descubre la belleza ética y natural de nuestros cosméticos veganos! En nuestro catálogo, encontrarás una amplia gama de productos cuidadosamente seleccionados, libres de ingredientes de origen animal y completamente cruelty-free. Desde maquillaje vibrante hasta productos para el cuidado de la piel que te harán sentir radiante, nuestra colección es amigable con los animales y amigable contigo. Únete a la revolución de la belleza consciente y elige productos que no solo realzan tu belleza, sino que también cuidan de nuestro planeta y sus habitantes. Bienvenido a un mundo de belleza vegana y sostenible.</p>
        </section>
        <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MlZRlWu5Ieo" frameborder="0" allowfullscreen></iframe>
        </div>
    </main>

    <footer>
            <i class="fas fa-copyright"></i>
            Derechos Reservados
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
    </footer>
    

    <script src="/js/script.js"></script>
</body>
</html>
