<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <title>Productos Veganos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img class="logo" src="/img/logo.png" alt="Logo Mi mundo Vega" ></li>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
                <li><a href="/templates/nosotros.html">Sobre nosotros</a></li>
            </ul>
            <li id="cart-icon" onclick="toggleCart()">
                <i class="fas fa-shopping-cart"></i>
                <span id="cart-count">0</span>
            </li>
            <div id="cart-container" class="cart-container">
                <ul id="cart-list"></ul>
                <button onclick="checkout()">Checkout</button>
            </div>
        </nav>
    </header>
    
    <main>
        <div>
        <h1>Nuestros Productos</h1>
        <p>
            Todos nuestros productos están formulados con una mezcla de ingredientes derivados de la naturaleza
            <p> • Extractos de frutas y plantas de la Madre Naturaleza </p>
            <p> • Ingredientes clínicamente probados. “Cruelty Free”</p>
            <p> • Nuestros productos tienen un muy bajo contenido de alérgenos.</p>
            <p> 
                <h2>Te invitamos a recorrer nuestra Tienda Online</h2>
            </p>
        </p>
    </div>
    
        <section class="container" id="image-container">
            
            <!-- Lista de productos veganos (Flexbox) -->
            <!-- Agrega más productos aquí -->
        </section>
    </main>
    
    <footer>
        <a href="#" id="openCrud" style="opacity: 0; pointer-events: auto; cursor: default;">
            <i class="fas fa-folder"></i>
        </a>
            <i class="fas fa-copyright"></i>
            Derechos Reservados
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
    </footer>
    
    
    
    
    <script src="/js/login.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
